<h1>Data Custody Agreement Form for CASE ID: {{caseID}}</h1>

<a href="/outstanding/{{caseID}}" class="btn btn-primary pull-left">Back to Oustanding</a>
<br/><br/>

{{#each dcausage}}

    <h1>Data Custody Agreement Form for DCA ID: {{dcaID}}</h1> 
    <a href="/artifacts/dca/delete/{{caseID}}/{{dcaID}}" class="btn btn-danger pull-left">Cancel DCA: {{dcaID}}</a>&nbsp;&nbsp;
    <a href="/artifacts/dcapg1/{{caseID}}/{{dcaID}}" class="btn btn-success">Enter DCA: {{dcaID}}</a><br/><br/>
    {{#if (eq progress 80)}}
    <div class="progress">
         <div class="progress-bar progress-bar-striped bg-pending" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Pending Approvals</div>
    </div>
    {{else}}
        {{#if (eq progress 100)}}
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Completed</div>
        </div>
        {{else}}
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{progress}}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">Status</div>
        </div>
        {{/if}}
    {{/if}}

{{/each}}
<br/><br/>
<form method="post" action="/artifacts/DCA/{{caseID}}">
    <input type="hidden" id="caseID" name="caseID" value="{{caseID}}" readonly>
    <input type="hidden" id="progress" name="progress" value="100" readonly>
    <input type="submit" class="btn btn-primary" value="Create New Data Custody Agreement Form">
</form><br/>