<h1>Data Custody Agreement Form for CASE ID: {{caseID}}, DCA ID: {{uniquedcaID}}</h1>
<a href="/artifacts/dcainfo/{{caseID}}" class="btn btn-primary pull-left">Back to DCA Info Page</a>
<br/>
<table class="table tb1">
    <thead>
        <tr>
            <th>App Name</th>
            <th>MAP ID</th>
            <th>DCJ App</th>
            <th>SBU/FG</th>
            <th>Data Owner Email Address</th>
            <th>Data Custodian Email Address</th>
        </tr>
    </thead>
    <tbody>
        {{#each dcaprovider}}
        <tr>
            <td>{{dcaprovider1}}</td>
            <td>{{dcaprovider7}}</td>
            <td>{{dcaprovider5}}</td>
            <td>{{dcaprovider2}}</td>
            <td>{{dcaprovider3}}</td>
            <td>{{dcaprovider4}}</td>
            <td><a href="/artifacts/dcapg2/delete/{{caseID}}/{{dcaproviderId}}" class="btn btn-danger">remove</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br/><br/>
<form method="post" action="/artifacts/dcapg2">
    <input type="hidden" id="caseID" name="caseID" value="{{caseID}}" readonly>
    <input type="hidden" id="dcaID" name="dcaID" value="{{uniquedcaID}}" readonly>
    <div class="row">
        <div class="col-md-4">
            <label for="">Application Name</label><br/>
            <input class="form-control" id="dcaprovider1" name="dcaprovider1" type="text"><br/>
        </div>
        <div class="col-md-4">
            <label for="">Data Repository Name</label><br/>
            <input class="form-control" id="dcaprovider6" name="dcaprovider6" type="text"><br/>
        </div>
        <div class="col-md-4">
            <label class="control-label" for="">MAP ID</label><br/>
            <input class="form-control" id="dcaprovider7" name="dcaprovider7" type="text"><br/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="dcaprovider2">SBU/FG</label><br/>
            <select class="form-control" name="dcaprovider2" id="dcaprovider2">
                <option value="Capital Markets">Capital Markets</option>
                <option value="Commercial Banking and Wealth Management, Canada">Commercial Banking and Wealth Management, Canada</option>
                <option value="Personal and Business Banking, Canada">Personal and Business Banking, Canada</option>
                <option value="US Region">US Region</option>
                <option value="Administration">Administration</option>
                <option value="Finance">Finance</option>
                <option value="Internal Audit">Internal Audit</option>
                <option value="People, Culture and Brand">People, Culture and Brand</option>
                <option value="Risk Management">Risk Management</option>
                <option value="Technology, Infrastructure and Innovation">Technology, Infrastructure and Innovation</option>
            </select>
            <br/>
        </div>
        <div class="col-md-6">
            <label for="dcaprovider5">Is this application a DCJ?</label><br/>
            <select class="form-control" name="dcaprovider5" id="dcaprovider5">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
            <br/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="control-label" for="">Data Owner email address</label><br/>
            <input class="form-control" id="dcaprovider3" name="dcaprovider3" type="text"><br/>
        </div>
        <div class="col-md-6">
            <label class="control-label" for="">Data Custodian email address</label><br/>
            <input class="form-control" id="dcaprovider4" name="dcaprovider4" type="text"><br/>
        </div>
    </div>
    <button type="submit" class="btn btn-success pull-left">Create Entry</button>
</form>
<br/><br/>  
<a href="/artifacts/dcapg1/{{caseID}}/{{uniquedcaID}}" class="btn btn-primary pull-left">Previous Page</a>
<a href="/artifacts/dcapg3/{{caseID}}/{{uniquedcaID}}" class="btn btn-primary pull-right">Next Page</a>