<div class="row">
    <div class="col-md-12">
        <h2>Please complete all forms assigned for TRIAGE ID: {{viewData.caseID}}</h2>
        <br/><br/>
        
        {{#if (eq viewData.q3 1)}}
            <a href="/artifacts/dcainfo/{{viewData.caseID}}" class="btn btn-primary pull-left">Data Custody Agreement Form</a>
            <br/><br/><br/>
        {{else}}
            {{#if (eq viewData.q4 1)}}
                <a href="/artifacts/dcainfo/{{viewData.caseID}}" class="btn btn-primary pull-left">Data Custody Agreement Form</a>
                <br/><br/><br/>
            {{/if}}
        {{/if}}
        
        {{#if (eq viewData.q1 1)}}
            <form method="get" action="/artifacts/DSRA/{{viewData.caseID}}">
                <input type="submit" class="btn btn-primary" value="Data Sharing Risk Assessment Form">
            </form><br/>
        {{/if}}
        <form method="get" action="/artifacts/drafpg1/{{viewData.caseID}}">
            <input type="submit" class="btn btn-primary" value="Digital Records Approval Form">
        </form><br/><br/>
        <a href="/artifacts/{{viewData.caseID}}" class="btn btn-danger pull-left">Back</a>
    </div>
</div>